Language: Cpp
BasedOnStyle: LLVM

IndentWidth: 2
ContinuationIndentWidth: 2
TabWidth: 2
UseTab: Never
IndentCaseLabels: true

SortIncludes: false

ColumnLimit: 80
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: None
PointerAlignment: Right
